* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1vh 1vw;

}

.container  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header, main, footer {
    border: dotted dodgerblue 0.5px;

}

.card {
    flex: 0 0 100%;
    padding: 2lh 1vw;
}


figure {
    position: relative;
    border: dashed black 3px;
}

figcaption {
    position: absolute;
    top: -0.75lh;
    min-width: 75%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: teal;
    border: solid black 1px;
    border-radius: 8px;
}

figure > * {
    padding: 0.5lh;
}

figure > p {
    padding-top: 1.5lh;
}

pre {
    padding: 1lh;
    font-size: 150%;
    font-family: monospace;
    border-radius: 8px;
    background-color: bisque;
    margin:1vw; 

}
@media screen and (min-width: 768px) {
    .card {
        flex: 0 0 50%;
    }
}

@media screen and (min-width: 996px) {
    .card {
        
        flex: 0 0 33%;
    }
}

