:root {
    --bacground: black;
    --edge: white;
    --text: purple;
    --glow: pink;
}

* {
    font-family: sans-serif;
    color: var(--text);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1vh 1vw;
    background: #6699cc;

}

.header {
    padding:30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightblue;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div {
    float:right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.container  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

  
 
.footer {
   padding-left: 30px;
   clear: both;
   font-family: 'Courier New', Courier, monospace;
   flex-direction: column;

}

.footer h2 {
    font-size: 20px;
}

.card {
    flex: 0 0 100%;
    padding: 2.5lh 1vw;
}

.card0 {
    flex: 0 0 100%;
    padding: 2.5lh 1vw;
   
}


figure {
    position: relative;
    border: thin var(--edge) 3px;
    border-radius: 2%;

}

figure:hover {
    box-shadow: var(--glow) 1vw 1vw 1vw, inset var(--glow) 1vw 1vw 1vw;
}
figcaption {
    position: absolute;
    top: -1.25lh;
    min-width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    font-size: 150%;
    font-weight: bold;
    padding: .25lh 0.5vw;

    background-color: teal;
    border: solid var(--edge) 2px;
    border-radius: 8px;
}

figcaption:hover {
    box-shadow: greenyellow 1vw 1vw 1vw;
}
figure > img {
    padding-left: 23%;
    padding-right: 33%;

}
figure > * {
    padding: 0.5lh;
}

figure > p {
    padding-top: 2.5lh;
   
}

img {
    max-width: 100%;
   padding-top: 5%;
    margin: 2%;
    position: relative;
    display: flex;
    
}

pre {
    padding: 1lh;
    font-size: 125%;
    font-family: monospace;
    border-radius: 8px;
    color:brown;
    background-color: bisque;
    margin:1vw; 

}
@media screen and (min-width: 768px) {
    .card {
        flex: 0 0 50%;
    }
}

@media screen and (min-width: 996px) {
    .card {
        
        flex: 0 0 33%;
    }
}

